/* This file is a global customization preset */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;

  width: 1040px;
  max-width: 1040px;
  margin: 0 auto;
}

body:nth-child(n) {
  width: 100%;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
}

button, select {
  cursor: pointer;
}

p, span, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p, span, h1, h2, h3, h4, h5, h6, input, button, textarea, select {
  color: white;
  font-family: "InterFace";
}

input::placeholder, textarea::placeholder {
  color: gray;
}

input:focus, textarea:focus, button:focus {
  outline: 0;
  border: none;
  box-shadow: none;
}

ul li {
  list-style: none;
}